{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "node": 7.8,
          "uglify": true
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "lodash"
  ],
  "comments": false
}
